﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<BubbaGump.Models.Home>
@{
    Layout = "Master.cshtml";
}
<h3>@Model.Title</h3>

<h2>@Model.SubHeading</h2>
<div class="row">
    <div class="col-lg-12">
        <img src='@Model.MainImage.GetCropUrl("Teaser")' />
        @*<img class="img-responsive" src="@Model.MainImage.Url" />*@
    </div>
</div>


@Html.GetGridHtml(Model, "mainContent")