﻿@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;

    Html.RequiresCss("~/content/bootstrap.min.css");
    Html.RequiresCss("~/content/site.css");
}

<!DOCTYPE html>
<html>

<head>
    @Html.RenderCssHere()
    <title>@Model.Name</title>
</head>

<body>
     <div class="container">
        <div class="row">
            <div class="col-lg-12">@Umbraco.RenderMacro("Pagelist", new {pageRoot="umb://document/1dcb01f3009a4f8897ac4e7e2e3a713c"})</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">@RenderBody()</div>
        </div>
    </div>
</body>

</html>