﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var pageRoot = Model.MacroParameters["pageRoot"];

    if (pageRoot == null)
    {
        return;
    }

    var startNode = Umbraco.Content(pageRoot);

    if (startNode == null)
    {
        <h1>No page root set!</h1>
        return;
    }

    var pages = startNode.Children.OrderBy(x => x.CreateDate).ToList();

    <h3><a href="@startNode.Url">@startNode.Name</a></h3>
        <ul class="nav nav-pills">
            @foreach (var page in pages)
            {
                <li><a href="@page.Url">@page.Name</a></li>
            }
        </ul>
}
